<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1026475802412-km1kfvo019gdoad8av8egh9ajd5j4uqf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1026475802412-km1kfvo019gdoad8av8egh9ajd5j4uqf</string>
	<key>API_KEY</key>
	<string>AIzaSyCpSGXp6V9H0w7gRtjUbY3clMhdXqQxqNo</string>
	<key>GCM_SENDER_ID</key>
	<string>1026475802412</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nl.clientweb.citizenapp</string>
	<key>PROJECT_ID</key>
	<string>clientweb-citizen-app</string>
	<key>STORAGE_BUCKET</key>
	<string>clientweb-citizen-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1026475802412:ios:bfc00cd9f954cae1403689</string>
</dict>
</plist>